.custom-card {
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: all 0.2s ease-in-out;
}

.custom-card:hover {
  box-shadow:
    rgba(0, 0, 0, 0.15) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
